@{
    ViewData["Title"] = "Home Page";
}

@{
    string fileContent = ViewData["FileContent"] as string ?? string.Empty;
}

@model List<MenuItem>;

<div class="header-background">
    <div class="text-center">
        <h1 class="main-title">Byte Stockholm</h1>
        <p class="secondary-title">Arenavägen 61 - Globen</p>
    </div>
</div>

<div class="opening-hours-container">
    <h2 class="welcome-header">Välkommen till Byte Stockholm</h2>
    <ul class="opening-hours-list">
        <li class="opening-hours-list-item">
            <h6 class="opening-hours-header">
                Mån - Tors:
            </h6>
            <p class="text-body-secondary opening-hours-secondary"> 11.30 - 14.00 & 17.00 - 23:00</p>
        </li>
        <li class="opening-hours-list-item">
            <h6 class="opening-hours-header">
                Fredag:
            </h6>
            <p class="text-body-secondary opening-hours-secondary"> 11.30 - Sent</p>
        </li>
        <li class="opening-hours-list-item">
            <h6 class="opening-hours-header">
                Lördag:
            </h6>
            <p class="text-body-secondary opening-hours-secondary"> 16:30 - Sent</p>
        </li>
        <li class="opening-hours-list-item">
            <h6 class="opening-hours-header">
                Söndag:
            </h6>
            <p class="text-body-secondary opening-hours-secondary"> Stängt</p>
        </li>
        <li class="opening-hours-list-item">
            <h6 class="opening-hours-header">
                Åldersgräns:
            </h6>
            <p class="text-body-secondary opening-hours-secondary"> 23 År</p>
        </li>
        <li class="opening-hours-list-item">
            <p class="opening-hours-list-item">Varmt Välkommna!</p>
        </li>
    </ul>
</div>

<div class="divider-container">
    <div class="divider"></div>
</div>

<div class="info-container">
    <h2 class="info-header">Arenavägen 61</h2>
    <div class="text-container">
        <p class="info">@fileContent</p>
    </div>
</div>

<div class="menu-card-container">
    @foreach (var item in Model)
    {
        // Set the ImageUrl property based on the Id
        item.ImageUrl = Url.Content($"~/Resources/item-{item.Id}.jpg");

        if (item.Id == 5 || item.Id == 8 || item.Id == 11)
        {
            <div class="menu-card">
                <img class="menu-item-image" src="@item.ImageUrl" alt="@item.Name" />
                <h1 class="menu-tag">@item.Name</h1>
            </div>
        }
    }
</div>

<div class="divider-container">
    <div class="divider"></div>
</div>

@section Scripts {
    <script>
        window.addEventListener('scroll', function () {
            var header = document.querySelector('.header-background');
            var headerHeight = header.offsetHeight;
            var offset = 200;
            if (window.scrollY > (headerHeight - offset)) {
                document.body.classList.add('dark-mode');
            } else {
                document.body.classList.remove('dark-mode');
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            var navbar = document.getElementById('main-navbar');
            var navbarToggler = document.querySelector('.navbar-toggler');

            navbarToggler.addEventListener('click', function () {
                var isExpanded = navbarToggler.getAttribute('aria-expanded') === 'true';
                if (isExpanded) {
                    navbar.classList.add('bg-black');
                } else {
                    navbar.classList.remove('bg-black');
                }
            });
        });
    </script>
}