@{
    ViewData["Title"] = "Admin";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 admin-sidebar">
            <div class="sidebar-header">

            </div>
            <!-- Sidebar content -->
            <ul class="nav nav-pills flex-column">
                <li class="nav-item sidebar-item">
                    <a class="nav-link text-black" href="#">Manage Menu</a>
                </li>
                <li class="nav-item sidebar-item">
                    <a class="nav-link text-black" href="#">Manage Bookings</a>
                </li>
            </ul>
        </div>

    </div>
</div>
