html {
    font-size: 14px;
}


@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus,
.btn:active:focus,
.btn-link.nav-link:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

body {
    background-color: #f8f9fa;
}

.navbar-toggler {
    border-color: transparent;
}

.footer-wrapper {
    display: flex;
    align-items: center;
    height: 80px;
}

.privacy {
    color: white;
}

.admin-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: auto;
    padding: 35px;
    border-radius: 5px;
    margin-right: 2rem;
    white-space: nowrap;
    background-color: black;
    color: white;
    font-weight: lighter;
}

.header-background {
    height: 60vh;
    background-image: url('/Resources/restaurant2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: relative;
    margin-top: -110px;
}


.header-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.header-background>* {
    position: relative;
    z-index: 2;
}


.main-title {
    color: white;
    font-size: 50px;
    font-weight: bold;
    padding-top: 3rem;
}

.secondary-title {
    color: white;
}

.main-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    background: transparent;
    padding: 0.5rem 1rem;
    transition: background-color 0.5s ease;
}


.text-center {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.text-center p {
    font-size: 1.5rem;
    font-style: italic;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease, background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #808080 !important;
}

.opening-hours-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    text-align: center;
}

.opening-hours-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.opening-hours-list-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    height: 2rem;
    text-align: center;
    margin-top: 0.5rem;
}

.opening-hours-secondary {
    margin-top: 0.4rem;
    font-size: 12px;
}

.opening-hours-header {
    font-weight: bold;
    padding: 0 0.5rem;
}

.welcome-header {
    margin-bottom: 3rem;
    font-weight: bold;
}

.divider-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 3rem 0 3rem;
}

.divider {
    height: 1px;
    background-color: lightgray;
    width: 90vw;
}

.info-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    margin-top: 5rem;
}

.text-container {
    width: 350px;
}

.info-header {
    font-weight: bold;
    margin-bottom: 2rem;
}

.menu-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem;
}

.menu-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 280px;
    width: 100%;
    max-width: 450px;
    margin: 1rem;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
    text-align: center;
}

.menu-tag {
    align-content: center;
    position: absolute;
    color: white;
    z-index: 2;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.menu-item-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


@media (min-width: 768px) {
    .menu-card {
        width: calc(50% - 2rem);
    }
}

@media (min-width: 1024px) {
    .menu-card {
        width: calc(33.333% - 2rem);
    }
}

.bg-menu {
    background-color: black;
}

.menu-container {
    display: flex;
    justify-content: center;
    background-color: white;
    flex: 1;
    width: 100vw;
    height: auto;
    padding: 20px;
    transition: background-color 0.5s ease, color 0.5s ease;
}


.menu-wrapper {
    width: 85vw;
    height: 100%;
}

.menu-header {
    display: flex;
    justify-content: center;
    margin: 7rem 0 4rem;
}

.menu-header-text {
    font-weight: 900;
    font-size: 100px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.menu-card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 1rem;
    width: 100%;
    margin-bottom: 2rem;
}

.appetizer-container {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    width: 100%;
}

.main-course-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    width: 100%;
}

.dessert-container {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
}

.drinks-container {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    width: 100%;
    margin-bottom: 2rem;
}

.menu-card-content {
    padding: 1rem;
}

.menu-card-header {
    font-weight: bolder;
}

.menu-card-text {
    font-style: italic;
}

.price {
    font-weight: bold;
}

.card-header {
    font-size: 30px;
    font-weight: bolder;
}

body {
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}


.dark-mode {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode .menu-card {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode .welcome-header,
.dark-mode .opening-hours-header,
.dark-mode .info-header,
.dark-mode .container {
    color: white;
    transition: color 0.5s ease;
}

.dark-mode .menu-container {
    background-color: black;
    color: white;
    transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode .menu-header-text {
    color: white;
    transition: color 0.5s ease;
}


.dark-mode .opening-hours-secondary {
    color: lightgray !important;
    transition: color 0.5s ease;
}

.menu-page .main-navbar {
    background-color: black;
    color: white;
}

.menu-page .navbar-nav .nav-link {
    color: white;
}

.menu-navbar {
    background-color: black;
    color: white;
}

@media (max-width: 767px) {
    .menu-header-text {
        font-size: 50px;
        text-align: center;
    }

    .main-title {
        margin-top: 5rem;
    }
}

.main-navbar.bg-transparent {
    background: transparent;
    transition: background-color 0.5s ease;
}

.main-navbar.bg-black {
    background: black;
    transition: background-color 0.5s ease;
}

/* Admin styling*/
.admin-wrapper {
    display: flex;
}

.admin-sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    padding:0;
    background-color: #E5E5E5;
    
}

.admin-navbar {
    margin-left: 250px;
    background-color: #14213D;
}

.logout-button{
    margin-right:200px;
}

.sidebar-header{
    height:152px;
    width: 100%;
    background-color: black;
}

.sidebar-item{
    margin:0;
}

